.modal-detail{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,0.2);
}
.model-header{
  display: flex;
}
.modal-topping-content{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 5%;
  padding-left: 5%;
  width: 74%;
}
.close{
  width: 27%;
  display: flex;
  justify-content:flex-end ;
  position: relative;
}
.close button{
  height: 40%;
  width: 40%;
  border: none;
  background: red;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.modal-topping{
  z-index: 1000;
  display: flex;
  width: 50%;
  height: 80%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 80px 25% 0 25%;
}
.modal-topping-img{
  width: 50%;

}
.modal-topping-topping{
  width: 50%;

}
.modal-topping-img img{
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.modal-item-name{
  font-family:Oswald, sans-serif !important;
  font-weight: 400;
  font-size:1.875rem;
  margin:0;
  color: red;
}
.divider{
  height: 1px;
  background-color: #aaa;
  margin-top:10px;
  margin-bottom: 10px;
  width: 100%;
}
.add-topping{
  width: 85%;
  height: 60%;
  margin-left: 15%;
  text-align: left;
  overflow: auto;
}
.list-topping{

}
.custom-radio{
  display: flex;
  gap: 8%;
  padding: 5px;
}
.label-radio{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.modal-topping-footer{
  display: flex;
  width: 80%;
  height: 23%;
  margin-left: 10%;
  margin-top: 5%;
}
.custom-control{
  display: flex;
  width: 50%;
  height: 100%;
}
.btn-add{
  width: 50%;
}
.control{
  height: 40%;
  width: 20%;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}
.controlvalue{
  width: 30%;
}

.addtocart{
  width: 100%;
  background-color: #008CBA;
  color: white;
}
.inp{
  border: none;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
@media  screen and (max-width: 414px){
  .modal-topping{
    width: 100%;
    height: 80%;
    right: 0;
    z-index: 1;
    display: block;
    margin: 0;
    border:none;
    top:20%;
    position: absolute;
    font-weight: bold!important;

  }
  .modal-topping-topping {
    width: 100%;
    color: white;
    z-index: 10;
    height: 13%;

  }
  .modal-topping-img{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    opacity: 90%;

  }
  .list{
  }
  .add-topping{
    height: 270px;
  }
  .modal-topping-footer{
    height: 100%;
    margin-top: 0;
  }
  .backgound{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    background: rgba(0,0,0,0.4);

  }
  .custom-radio{
    margin: 0!important;
    padding: 0;
    animation: growDown 500ms backwards;
    transform-origin: top center;
  }
  @keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }
  .price{
    margin-right: 10%;
  }
  .close button{
    border-top-right-radius: 0;
  }
}


