.modal {
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  position: fixed; /* Stay in place */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  margin: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}
.modal-header{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {

  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1140px;
  min-height: 200px;
}

.cart-header {
  clear: both;
  color: #666666;
}

.w10 {
  float: left;
  width: 10%;

}

.w20 {
  float: left;
  width: 20%;

}

.w30 {
  float: left;
  width: 30%;

}
.textRight {
  text-align: right;
}

.cart-content {
  clear: both;
  min-height: 20px;
  max-height: 300px;
  overflow: auto;
}
.cart-content::-webkit-scrollbar {
  display: none;
}
/*.cart-content:hover{*/
/*  cursor: pointer;*/
/*  background-color: #333333;*/
/*}*/

.cart-total {
  clear: both;
  text-align: right;
}

.cart-checkout {
  clear: both;
  display: flex;
  justify-content: flex-end;

}

.divider {
  clear: both;
  height: 1px;
  background-color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-item {
  height: 150px;
  margin-top: 10px;
}

.big-text {
  display: inline-block;
  font-size: 1.5rem;
  color: #111111;
}

.cart-item-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.textBold {
  font-weight: bold;
}

.button-remove {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button-remove:hover {
  background-color: #d2190b;
}

.cart-checkout {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.button-checkout {
  border-color: #008CBA;
  color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 10px;
}
.progress-spinner{
  position: absolute;
}
.button-checkout:hover {
  background-color: #00526e;
  color: white;
}

.cart-content input {
  width: 20px;
}

.btn-control {
  width: 30px;
  border: none;
  background: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn-control:hover {
  background-color: rgba(169, 169, 169, 0.88);
  cursor: pointer;
}

.inp-qty {
  width: 40px;
  border: none;
  font-size: 18px;
}
.loading{
  position: absolute;
  width: 20%;
  left: 40%;
  top: 30%;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(11,137,234, 0.2);
  border-right: 1.1em solid rgba(11,137,234, 0.2);
  border-bottom: 1.1em solid rgba(11,137,234, 0.2);
  border-left: 1.1em solid #0b89ea;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.topping{
  display: flex;
  gap: 5%;
}
.chips-topping{
  border: none;
  background-color: rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 9999px;
}

.closebtn{
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.dialog{
  z-index: 100;
  background: rgba(0,0,0,0.3);
  position: fixed; /* Stay in place */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  margin: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}
.dialog-content{
  z-index: 101;
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #888;
  width: 25%;
  height: 22%;
  top: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:0px; opacity:0}
  to {top:40%; opacity:1}
}
.dialog .dialog-content p{
  position: relative;
  top: 20%;
  font-size: 18px;
}
.btn-dialog{
  display: flex;
  /* flex-direction: row-reverse; */
  position: relative;
  justify-content: flex-end;
  margin-right: 20px;
  top: 40%;
  gap: 10px;
}
.btn-action{
  border: none;
  border-radius: 10px;
  color: white;
}
.confirm{
  background-color: #008CBA;
}
.cancel{
  background-color: rgba(255, 17, 17, 0.87);
}

