<div id="shopping-cart" class="modal">
  <div class="modal-content">
    <div>
      <span>Shopping cart</span>
      <span id="cart-close" class="close" (click)="closemodal()">&times;</span>
    </div>
    <div class="cart-header">
      <div class="w20">Image</div>
      <div class="w30">Description</div>
      <div class="w10">Price</div>
      <div class="w10">Quantity</div>
      <div class="w10">Remove</div>
      <div class="w20 textRight">Total</div>
    </div>
    <div class="divider"></div>
    <div class="cart-content" id="cart-content">
      <div class="cart-item" *ngFor="let item of itemscart;let i=index">
        <div class="w20">
          <img class="w20 cart-item-img" src={{item.img}}/>
        </div>
        <div class="w30">
          <div class="textBold">{{item.title}}</div>
          <div>{{item.ingredient}}</div>
        </div>
        <div class="w10 textBold">{{item.price|currency}}</div>
        <div class="w10">
          <button class="btn-control" (click)="control(-1,i,item)" [disabled]="disabled">-</button>
          <input [(ngModel)]="item.qty" class="inp-qty" type="text" style="width: 40px;text-align: center"/>
          <button class="btn-control" (click)="control(1,i,item)">+</button>
        </div>
        <div class="w10">
          <button class="button-remove" (click)="removeItem(i,item)">Remove</button>
        </div>
        <div class="w20 textRight textBold">{{item.qty*item.price|currency}}</div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="cart-total">
      <div class="big-text">Total</div>
      <div class="big-text" id="cart-total-price" style="width: 100%">{{total|currency}}</div>
    </div>
    <div class="cart-checkout">
      <button class="button-checkout">Checkout</button>
    </div>
  </div>
</div>
