<div id="shopping-cart" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span>Checkout</span>
      <span id="cart-close" class="close" (click)="closemodal()">&times;</span>
    </div>
    <div class="cart-header">
      <div class="w20">Image</div>
      <div class="w30">Description</div>
      <div class="w10">Price</div>
      <div class="w10">Quantity</div>
      <div class="w10">Remove</div>
      <div class="w20 textRight">Total</div>
    </div>
    <div class="divider"></div>
    <div class="cart-content" id="cart-content">
      <div class="cart-item" *ngFor="let item of itemscart;let i=index">
        <div class="w20">
          <img class="w20 cart-item-img" src={{item.img}}/>
          <div class="w10 mobile">
            <button class="btn-control" (click)="control(-1,i,item)">-</button>
            <input [(ngModel)]="item.qty" class="inp-qty" type="text" style="width: 40px;text-align: center"/>
            <button class="btn-control" (click)="control(1,i,item)">+</button>
          </div>
        </div>
        <div class="w30">
          <div class="textBold">{{item.title}}</div>
          <div>{{item.des}}</div>
          <div class="topping">
            <button *ngFor="let topping of item.toppings[0];let j=index" class="chips-topping">{{topping.name}}
              <span class="closebtn close" (click)="removeTopping(topping,i,j)">&times;</span>
            </button>
          </div>
        </div>
        <div class="w10 textBold price1">{{item.price|currency}}</div>
        <div class="w10 desktop">
          <button class="btn-control" (click)="control(-1,i,item)">-</button>
          <input [(ngModel)]="item.qty" class="inp-qty" type="text" style="width: 40px;text-align: center"/>
          <button class="btn-control" (click)="control(1,i,item)">+</button>
        </div>
        <div class="w10 remove">
          <button class="button-remove" (click)="removeItem(i,item)">Remove</button>
        </div>
        <div class="w20 textRight textBold">{{item.total|currency}}</div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="cart-total">
      <select>
        <option *ngFor="let u of user.discount" [value]="u.condition">{{u.name}}</option>
      </select>
      <div class="big-text">Total</div>
      <div class="big-text" id="cart-total-price" style="width: 100%">{{total|currency}}</div>
    </div>
    <div class="cart-checkout">
      <button class="button-checkout" (click)="openDialog()">Checkout
      </button>
    </div>
    <div class="loading" *ngIf="loading">
      <div class="loader">Loading...</div>
    </div>
  </div>
</div>
<div class="dialog" *ngIf="opendialog">
  <dialog [open]="opendialog" class="dialog-content"><p>Are you sure this bill?</p>
    <div class="btn-dialog">
      <button class="btn-action confirm" (click)="confirmCheckout()"><p>Confirm</p></button>
      <button class="btn-action cancel" (click)="closeDialog()"><p>Cancel</p></button>
    </div>
  </dialog>
</div>


