<div id="product_container" class="product">
 <ng-container *ngIf="item;else loading">
    <div class="item" style="gap: 20px">
      <img class="img-search" src="assets/images/icons8-search-100.png">
      <input [(ngModel)]="seachText" placeholder="Search...">
    </div>
    <div class="" *ngFor="let item of item|filter:seachText" fxLayout="row">
      <div class="item-block" fxLayout="row">
        <div class="item1" style="gap: 20px">
          <h3 class="item-name">{{item.title}}</h3>
        </div>
        <div class="item" *ngFor="let it of item.items|filter:seachText;last as l;let i=index" [style.margin-bottom]="l? '50px':''">
          <img class="item-img" [src]="it.img">
          <div class="item-des">
            <h3 class="item-name">{{it.title}}</h3>
            <p class="item-ingredient">{{it.ingredient}}</p>
            <h6 class="item-price">{{it.price|currency}}</h6>
          </div>
          <a class="img-btn" data-id="1" (click)="addItem(it)">add to cart</a>
        </div>
      </div>
    </div>
 </ng-container>
</div>
<ng-template #loading><div class="loading">
  <div class="loader">Loading...</div>
</div></ng-template>
<div class="add-topping" *ngIf="selectTopping">
  <app-add-topping [selectedItem]="selected" (closeModal)="closeTopping($event)"></app-add-topping>
</div>
<div class="backg"></div>

