<div id="product_container" class="product">
 <ng-container *ngIf="item;else loading">
   <div class="item" *ngFor="let item of item;last as l" [style.margin-bottom]="l? '50px':''" fxLayout="row">
     <img class="item-img" [src]="item.img">
     <div class="item-des">
       <h3 class="item-name">{{item.title}}</h3>
       <p class="item-ingredient">{{item.ingredient}}</p>
       <h6 class="item-price">{{item.price|currency}}</h6>
     </div>
     <a class="img-btn" data-id="1" (click)="selectedItem(item)">add to cart</a>
   </div>
 </ng-container>
</div>
<ng-template #loading><div class="loading">
  <div class="loader">Loading...</div>
</div></ng-template>
<div class="add-topping" *ngIf="selectTopping">
  <app-add-topping [selectedItem]="selected" (closeModal)="closeTopping($event)"></app-add-topping>
</div>
<div class="backg"></div>

