.product{
  display: grid;
  grid-columns: auto auto;
  grid-gap:30px;
}
.item{
  display: flex;
  border-radius:10px ;
  justify-items: center;
  position: relative;
  padding:30px;
  min-height:100px ;
  margin-right: 20px ;
  background-color: #ffffff;
}
.item input{
  flex: 1;
  border: none;
  font-weight: bold;
  height: 100%;
}
.img-search{
  width: 40px;
  height: 40px;
}
.item-img{
  object-fit: cover;
  width:200px;
  height: 200px;
  float:left;
}
.item-des{
  float:left;
  text-align: left;
  padding:20px 0px 0px 30px;
}
.item-name{
  font-family:Oswald, sans-serif !important;
  font-weight: 400;
  font-size:1.875rem;
  margin:0;
}
.item-ingredient{
  font-style: italic;
  margin: 20px 0 0 auto;
}
.item-price{
  color:#f12c0e !important;
  font-weight: 700;
  margin:20px 0 0;
  font-size: 1.125rem;
  font-family: Roboto,sans-serif;
}
.img-btn{
  text-transform: uppercase;
  background-color: #e5e5e5;
  color:#111111;
  padding:10px 30px;
  cursor: pointer;
  font-size: 0.875rem;
  display:table;
  border-radius: 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;

}
.img-btn:hover{
  background-color: #b7b7b7;
}
.item-block{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 414px){
  .item {
    display: block;
    position: relative;
    padding: 30px;
    min-height: 100px;
    margin-right: 20px;
    background-color: #ffffff;
  }
  .item-img {
    object-fit: cover;
    width: 100%;
    height: 55%;
    float: left;
  }
  .item-des{
    padding:10px 0px 0px 0px;
  }
  .img-search{
    display: none;
  }
  .item input{
    width: 100%;
  }
}

