<div class="header">
 <app-navigator (showLogin)="onLogin($event)"></app-navigator>
</div>
<div class="wrapper">
  <div class="banner">
    <div class="img">
      <img class="img ng-star-inserted"
           src="https://thumbs.dreamstime.com/b/background-pizza-set-delicious-pizzas-bacon-cheese-mushrooms-top-view-183994608.jpg">
      <div class="overlay-banner overlay-banner-bg"></div>
    </div>
    <div class="content-banner">
      <div class="red-title">Menu</div>
      <p class="intro" style="margin: 30px 20% 0 20%;">Unique wood fired pizzas or be tempted by our pasta, antipasto,
        focaccias, salads and
        Bruschetta dishes. Relax in the friendly ambience as you enjoy the aromas of the wood ovens or sit al fresco
        and soak up the Mildura sunshine.</p>
    </div>
  </div>
  <div class="main" fxLayout="row" fxLayoutAlign="space-between start">
    <!--      Sidebar-->
    <div class="siderbar-main" fxFlex="300px"
         fxFlex.lt-md="200px">
      <app-sidebar (close)="onHandler($event)"></app-sidebar>
    </div>
    <!--      Menu-->
    <div class="menu-main" fxFlex="700px">
      <app-menu (closebtn)="onHandler($event)"></app-menu>
    </div>
    <!--      Cart-->
    <div class="cart-main" fxFlex>
      <app-cart (showCart)=onHandler($event)></app-cart>
    </div>
    <div *ngIf="showCart">
      <app-modal-checkout (closeModal)="onHandler($event)"></app-modal-checkout>
    </div>
  </div>
  <div class="login" *ngIf="showLogin">
    <app-login (closeSignin)="close($event)"></app-login>
  </div>
<!--  <div class="login">-->
<!--    <app-register></app-register>-->
<!--  </div>-->
  <div class="footer">
    <div class="footer-content">
      <h1>
        TRỊNH TUẤN ĐẠT
      </h1>
    </div>
  </div>
</div>
<!--iphone6/7/8 plus-->

<button class="btn-cart" id="btn-cart" (click)="openCart()">
  <img style=" width: 55%;" src="/assets/images/icons8-shopping-cart-90.png">
  <span class="badge">{{items.length}}</span>
</button>




